* {
  margin: 0;
  padding: 0;
}

:root {
  --button-background: rgb(230, 230, 230);
  --button-background-hover: rgb(201, 201, 201);
  --button-background-active: gray;
  --map-background-selected: rgb(67, 182, 67);
  --background-banned: rgb(255, 176, 176);
}

body {
  font-family: "Libre Baskerville", serif;
  font-family: "Titillium Web", sans-serif;
  /* background-color: rgba(189, 178, 162, 0.505); */
  /* background-color: rgb(121, 121, 121); */
  background-image: linear-gradient(
    90deg,
    rgb(158, 158, 158) 10%,
    rgb(206, 206, 206)
  );
}

#main-container {
  display: flex;
}

#map {
  /* height: 650px; */
  height: 86.25vh;
  width: 65%;
  /* width: 700px; */
  border: 1px solid black;
  flex-shrink: 2;
}

.custom .leaflet-popup-content-wrapper {
  background: rgba(255, 255, 255, 0.9);
  color: black;
  max-height: 40px;
  width: 100px;
  border-radius: 0px 7px 7px 7px;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  border: 0.5px solid transparent;
  transition: 150ms ease-in-out;
}

.leaflet-popup-content-wrapper:hover {
  transition: max-height 150ms ease-in-out 1s;
  border: 0.5px solid black;
  background: rgba(255, 255, 255, 1);
  max-height: 60px;
}

.leaflet-popup:hover {
  z-index: 1000 !important;
}

.popup-list {
  position: relative;
}

.airline-logo-small {
  position: absolute;
  transform: translateX(68px);
}

.airline-logo-big {
  position: absolute;
  transition: opacity 75ms ease-in-out, transform 100ms ease-in-out 100ms;
  opacity: 0;
  transform: translateX(-1px) translateY(10px);
}

.airline-logo-big.show {
  transition: opacity 180ms ease-in-out 1s, transform 150ms ease-in-out 0.9s;
  opacity: 1;
  transform: translateX(-1px) translateY(32px);
}

.table-row {
  background-color: var(--button-background);
}

/* removed !important from banned popups - seems to be working without this */
.banned-popup {
  background: var(--background-banned) !important;
}

.banned-popup-altitude {
  background: var(--background-banned) !important;
}

.row-selected {
  background-color: var(--map-background-selected) !important;
}

.popup-selected {
  background-color: var(--map-background-selected) !important;
}

.custom .leaflet-popup-content {
  transform: translateY(-10px);
  margin-left: 0;
  max-height: 50px;
  /* background: green; */
  min-width: 100px;
  max-width: 110px;
}

.custom .leaflet-popup-content ul {
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 35% auto;
  grid-column-gap: 0.4rem;
}

.custom .leaflet-popup-tip {
  display: none;
}

.custom .leaflet-popup-close-button {
  display: none;
}

#main-container {
  display: flex;
}

.data-area {
  display: flex;
  flex-direction: column;
}

#nav-list {
  position: relative;
  list-style: none;
  display: flex;
  padding-left: 0;
  /* padding-top: 0;
    padding-bottom: 0; */
  margin-top: 0;
  margin-bottom: 1.3rem;
  /* background-color: lightsalmon; */
  transform: translateY(11px);
  margin-left: 2rem;
}

.nav-link {
  border: 0.5px solid black;
  border-bottom: none;
  padding: 0.8rem 1rem;
  margin-bottom: 5rem;
  vertical-align: middle;
  /* background-color: rgb(212, 207, 207); */
  background-color: var(--button-background);
  border-radius: 5px 5px 0 0;
  user-select: none;
  font-weight: 600;
}

.table-link {
  border-radius: 5px 5px 0 0;
  border-right: none;
}

.nav-link-active {
  background-color: var(--button-background-active);
}

#hide-show-button {
  position: absolute;
  margin-left: 22.9rem;
  width: 105px;
  height: 30px;
  /* margin-bottom: 3rem; */
  /* transform: translateY(-.5rem); */
  padding-bottom: 4px;
  padding-top: 2px;
  font-family: inherit;
  font-weight: 600;
  border: 0.5px solid black;
  border-radius: 2px;
  background-color: var(--button-background);
  transition: all 200ms ease-in-out;
}

#hide-show-button:hover {
  /* background-color: var(--button-background-hover); */
  background-color: rgb(175, 175, 175);
}

#hide-show-button:active {
  background-color: var(--button-background-active);
  transition: none;
}

.hide-banned-row {
  position: absolute;
  opacity: 0;
}

#filters-div {
  background-color: white;
  border: 1px solid black;
  position: absolute;
  transform: translateY(51px);
  /* width: 1fr; */
  /* box-sizing: content-box; */
  /* flex-grow: 1; */
  align-items: stretch;
  height: 79.5%;
  margin-left: 2rem;
  opacity: 0;
  /* transition: opacity 150ms ease-in-out; */
  flex-shrink: 0;
}

#filters-div.shown {
  /* opacity: 1; */
  animation: showWindow 200ms forwards;
}

@keyframes showWindow {
  50% {
    opacity: 1;
    /* transform: scale(1.05) translateY(51px); */
    transform: translateY(61px);
  }

  100% {
    /* transform: scale(1) translateY(51px); */
    transform: translateY(51px);
    opacity: 1;
  }
}

.filter-header {
  display: flex;
}

.filters-title {
  padding: 1rem 1rem;
  /* padding-right: 10rem; */
  padding-right: 6rem;
  padding-bottom: 0.8rem;
}

.checkbox-label {
  position: relative;
  /* padding-right: 2.2rem; */
  padding-right: 1.4rem;
  padding-left: 0.3rem;
  padding-top: 2.4rem;
  font-weight: 600;
  user-select: none;
  font-size: 14px;
  pointer-events: none;
}

.filter-switch {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* custom checkbox styling - start */
.checkbox-custom {
  position: absolute;
  top: 1.4rem;
  left: 0.95rem;
  height: 15px;
  width: 15px;
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
  pointer-events: auto;
}

#altitude-checkbox-label {
  top: 14rem;
  left: 0.65rem;
}

/* On mouse-over */
.checkbox-label:hover input ~ .checkbox-custom {
  background-color: var(--button-background-hover);
}

/* When the checkbox is checked */
.checkbox-label input:checked ~ .checkbox-custom {
  background-color: var(--button-background-active);
}

/* Create the checkmark (hidden when not checked) */
.checkbox-custom:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkbox-label input:checked ~ .checkbox-custom:after {
  display: block;
}

/* Style the checkmark */
.checkbox-label .checkbox-custom:after {
  left: 3.93px;
  top: 0.76px;
  width: 4px;
  height: 7px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* custom checkbox styling - end */

#dropdowns-div {
  display: flex;
  gap: 9rem;
}

.dropdown.active > .dropdown-button,
.dropdown-button:hover {
  background-color: var(--button-background-hover);
}

/* .dropdown.active>.dropdown-button,
.dropdown-button:focus {
    background-color: red;
} */

.dropdown-button.active {
  background-color: var(--button-background-active);
}

.dropdown {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-top: 0.5rem;
}

.dropdown-button {
  min-width: 106px;
  min-height: 26px;
  padding-bottom: 2px;
  font-family: inherit;
  font-weight: 600;
  background-color: var(--button-background);
  color: black;
  border: 0.5px solid black;
  border-radius: 2px;
  transition: background-color 200ms ease-in-out;
}

#type-dropdown-button {
  margin-left: 1rem;
}

.filter-buttons {
  display: flex;
  position: relative;
}

#reset-type-button {
  position: absolute;
  min-height: 26px;
  min-width: 26px;
  margin-left: 8rem;
  background-color: var(--button-background);
  border: 0.5px solid black;
  border-radius: 2px;
  transition: all 200ms ease-in-out;
}

#reset-type-button:hover {
  background-color: var(--button-background-hover);
}

#reset-type-button:active {
  background-color: var(--button-background-active);
  transition: none;
}

#reset-airline-button:active {
  background-color: var(--button-background-active) !important;
  transition: none;
}

#reset-airline-button {
  position: absolute;
  min-height: 26px;
  min-width: 26px;
  /* transform: translateX(-2.8rem); */
  margin-left: 7rem;
  background-color: var(--button-background);
  border: 0.5px solid black;
  border-radius: 2px;
  transition: background-color 200ms ease-in-out;
}

#reset-airline-button:hover {
  background-color: var(--button-background-hover);
}

.dropdown-menu {
  position: absolute;
  margin: auto;
  top: 100%;
  background-color: white;
  padding: 0.75rem;
  border-radius: 0 0 0.25rem 0.25rem;
  box-shadow: 0 2px 5px 0 rgba(69, 69, 69, 0.5);
  opacity: 0;
  pointer-events: none;
  cursor: pointer;
  overflow-y: auto;
  overflow-x: hidden;
  height: 0vh;
  padding: 0;
  transition: opacity 150ms ease-in-out, height 150ms ease-in-out;
  min-width: 100px;
  z-index: 100;
}

#type-dropdown-menu {
  margin-left: 1.17rem;
}

#airline-dropdown-menu {
  margin-left: 0.2rem;
  overflow-y: scroll;
}

/* .dropdown.active>.dropdown-button+.dropdown-menu {
    opacity: 1;
    height: 60vh;
    pointer-events: auto;
} */
.dropdown.active > .dropdown-menu {
  opacity: 1;
  height: 60vh;
  pointer-events: auto;
}

.type-element,
.airline-element {
  display: flex;
  position: relative;
  justify-content: center;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  padding-left: 0.3rem;
  padding-right: 2rem;
  margin: 0;
  user-select: none;
}

.type-element:hover,
.airline-element:hover {
  /* background-color: rgb(163, 163, 163); */
  background-color: var(--button-background-hover);
}

.type-element.banned,
.airline-element.banned {
  background-color: var(--background-banned);
}

.ban-sign {
  color: red;
  padding-top: 0.3rem;
  padding-left: 4.25rem;
  position: absolute;
  pointer-events: none;
  /* margin: 0; */
}

.dropdown-button::after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f078";
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  transform: translateX(0.4rem);
  transition: transform 150ms ease-in-out;
}

.dropdown-button.active::after {
  transform: rotate(180deg) translateY(-0.1rem) translateX(-0.4rem);
}

.dropdown-option-type-active {
  color: red;
}

/*it was like that 
.banned-display {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    z-index: 1;
    border: 1px solid black;
    margin-top: 3rem;
    margin-left: 1.1rem;
    width: 100px;
    height: 10rem;
    transition: transform 150ms ease-in-out;
} */

.banned-display {
  display: grid;
  grid-template-columns: repeat(3, 32px);
  /* grid-template-columns: 20px 20px 20px; */
  grid-template-rows: repeat(11, 13px);
  position: absolute;
  z-index: 1;
  border: 1px solid black;
  margin-top: 3rem;
  /* margin-left: 1.1rem; */
  margin-left: 1rem;
  /* width: 100px; */
  width: 115px;
  height: 10rem;
  transition: transform 150ms ease-in-out;
  overflow-y: auto;
}

.banned-display.active-right {
  transform: translateX(125px);
}

.banned-display.active-left {
  transform: translateX(-125px);
}

.banned-span {
  /* overflow: hidden; */
  font-size: 0.75rem;
  color: var(--button-background-active);
  padding-left: 0.25rem;
  /* padding-top: 20px; */
  /* min-height: 40px; */
  /* display: inline-block; */
  /* box-sizing: border-box; */
  /* height: 10%; */
  /* top: 0; */
  /* bottom: 0; */
  /* margin-top: 0; */
}

/* it was like that
.banned-span {
    font-size: .75rem;
    color: grey;
    padding-left: .25rem;
} */

#banned-airlines-display {
  margin-left: 0.09rem;
}

.banned-placeholder {
  font-size: 0.75rem;
  color: grey;
  padding-left: 0.25rem;
  width: 90px;
}

.banned-placeholder.hide {
  opacity: 0;
  position: absolute;
}

.banned-plane {
  background-color: var(--background-banned);
}

.banned-plane-altitude {
  background-color: var(--background-banned);
}

#altitude-title {
  margin-top: 14rem;
}

#altitude-filter {
  display: flex;
  align-items: center;
}

.input-window {
  margin: 0.75rem 1rem;
  width: 154px;
}

#apply-height-button {
  font-family: inherit;
  font-weight: 600;
  padding-bottom: 2px;
  min-width: 90px;
  min-height: 24px;
  margin-left: 1rem;
  background-color: var(--button-background);
  border: 0.5px solid black;
  border-radius: 2px;
  transition: all 200ms ease-in;
}

#apply-height-button:hover {
  background-color: var(--button-background-hover);
}

#apply-height-button:active {
  background-color: var(--button-background-active);
  transition: none;
}

#altitude-description {
  padding-left: 1rem;
  padding-top: 0.75rem;
}

.not-a-number {
  color: red;
}

#table-div.default {
  transform: translateY(3px);
  opacity: 1;
  /* transition: opacity 150ms ease-in-out; */
  margin-left: 2rem;
}

#table-div.hidden {
  opacity: 0;
  pointer-events: none;
}

#table-div.shown {
  transform: translateY(3px);
  opacity: 1;
  /* transition: opacity 150ms ease-in-out; */
  margin-left: 2rem;
  animation: showTable 200ms forwards;
}

@keyframes showTable {
  50% {
    opacity: 1;
    transform: translateY(13px);
  }

  100% {
    transform: translateY(3px);
    opacity: 1;
  }
}

.table-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  width: 97.3%;
  margin-right: 10rem;
  /* margin-right: min(5rem, 300%); */
}

.table-header {
  background-color: var(--button-background);
  font-weight: 600;
}

.table-header,
.table-cell {
  /* background-color: var(--button-background); */
  border: 1px solid black;
  border-right: none;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0.2rem 0;
  text-align: center;
}

.table-cell {
  border-top: none;
}

.speed-cell {
  border-right: 1px solid black;
}

.vertical-icon {
  font-size: 0.9rem;
  margin-left: 0.2rem;
}

.popup-vertical-icon {
  margin-left: 4px;
}

/* 1730 */
@media (min-width: 1700px) {
  .data-area {
    /* min-width: 25%; */
  }

  #map {
    height: 84vh;
    width: 65%;
    /* margin-right: 40px; */
  }

  #filters-div {
    /* margin-left: 2%; */
    /* width: 29.4rem; */
    height: 79.5vh;
    /* margin-left: 44px; */
    margin-left: 40px;
  }

  #table-div {
    /* padding-left: 12px; */
    padding-left: 8px;
  }

  #navbar {
    /* margin-left: 2.2%; */
    margin-left: 7px;
  }

  .table-grid {
    /* width: 29.4rem; */
  }
}

@media (max-width: 1450px) {
  #map {
    /* width: 55%; */
    flex-shrink: 4;
  }

  #filters-div {
    /* height: 84vh; */
    /* width: 100px; */
    margin-right: 30px;
  }

  .filters-title {
    font-size: 15px;
    color: yellow;
  }

  .table-header {
    /* font-size: 13px; */
  }

  #banned-airlines-display {
    margin-right: -20px;
  }

  #airline-filter-buttons {
    margin-right: -20px;
  }

  #type-airline-input-switch {
    margin-right: -20px;
  }

  #hide-show-button {
    /* margin-right: 40px; */
    margin-left: 308px;
  }
}

@media (max-width: 1200px) {
  .filters-title {
    /* font-size: 13px; */
    color: green;
  }

  #banned-airlines-display {
    margin-right: -20px;
  }

  #airline-filter-buttons {
    margin-right: -20px;
  }

  #type-airline-input-switch {
    margin-right: -20px;
  }

  #hide-show-button {
    /* margin-right: 40px; */
    /* margin-left: 307px; */
    margin-left: 68.5%;
  }
}

@media (max-width: 820px) {
  .filters-title {
    font-size: 20px;
    color: red;
  }

  #main-container {
    flex-direction: column;
    align-items: center;
  }

  #map {
    width: 99%;
    height: 60vh;
  }

  .table-grid {
    /* grid-template-columns: repeat(5, 98px); */
  }

  #hide-show-button {
    margin-left: 385px;
  }

  .data-area {
    margin-top: 1rem;
    margin-left: 8rem;
  }

  #filters-div {
    height: 32rem;
    /* margin-left: 7rem; */
  }

  #table-div {
    /* margin-left: 8rem; */
  }

  #banned-airlines-display {
    margin-right: 0;
  }

  #airline-filter-buttons {
    margin-right: 0;
  }
}

@media (max-width: 600px) {
  .filters-title {
    font-size: 15px;
    color: orange;
  }

  #main-container {
    /* flex-direction: column; */
    /* align-items: center; */
  }

  #map {
    width: 95%;
    height: 80vh;
  }

  .table-grid {
    /* grid-template-columns: repeat(5, 85px); */
  }

  #hide-show-button {
    margin-left: 321px;
  }

  .data-area {
    /* margin-top: 1rem; */
    margin-left: 3.5rem;
  }

  #filters-div {
    height: 32rem;
    width: 26.5rem;
  }

  #banned-airlines-display {
    margin-right: 0;
  }

  #airline-filter-buttons {
    margin-right: 0;
  }

  .checkbox-label {
    /* margin-right: -20px; */
    /* margin-left: 200px; */
  }
}
